body{
    background-color: rgb(2, 0, 30);
    color: aquamarine;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

p{
   font-size: 4em;
   border: 6px solid aquamarine;
   border-radius: 20px;
   
   padding: 20px ;
   box-shadow: 0px 0px 10px 5px rgb(92, 206, 168);

}

button{
    font-size: 1.5em;
    background-color: aquamarine;
    box-shadow: 0px 0px 10px 5px rgb(92, 206, 168);
    border-radius: 10px;
}